@font-face
{
    font-family: norse-bold;
    src: url(font/Norse-Bold.otf);
}

body
{
    padding: 0;
    border: 0;
    margin: 0;
}

.site   
{
    position: fixed;
    display: flex;
    
    background-color: lightgray;
    height: 100%;
    width: 100%;

    
}

.container#left
{
    position: relative;
    height: 100%;
    width: 40%; 
    
}

.leaves
{
    height: 100%;
    width: 100%;
}

.card-heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    font-weight: bold;
    top: 8rem;
    text-align: center;
    font-size: 50px;
    font-family: norse-bold; 
}

.halie
{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
    font-size: 12px;
    bottom: 0;
    width: 100%;
}

a
{
    color: white;
}

.logo
{
    height: 100px;
    width: 100px;
}

.container#right
{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.dream
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:left;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 250px; 
    padding-bottom: 10px;
    font-weight: 900;
    font-size: large;
    
}

.forms
{
    background: white;
    padding: 10px;
    box-shadow: 10px 5px 5px grey;
    
}

h3
{
    margin-left: 20px;
    margin-bottom: 0;
    
}

.row1,.row2,.row3
{
    display: flex;
    gap: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

label
{
    font-size: small;
    font-family: sans-serif;
}

input:focus
{
    border-color: #9db4e2;
    box-shadow: 0.5px 2px 2px gray;
}

input:invalid
{
    border-color: red;
    
}
.footer
{
    padding: 20px;
}

button
{
    width: 175px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
}

.login
{
    padding-top: 10px;
}

#login
{
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}

